<template>
  <div>
    <h1>About</h1>
    <h3>Made by Andres Järviste</h3>
    <h3>
      component's code and front-end code of the project is
      <a href="https://gitlab.com/andres-jarviste/scoro_status_client">here</a>
    </h3>
  </div>
</template>

<style>
@media (min-width: 1024px) {
  .about {
    min-height: 100vh;
    display: flex;
    align-items: center;
  }
}
</style>
