<script setup lang="ts">
import StatusSelect from "@/components/StatusSelect.vue";
import { ref } from "vue";
import type { Ref } from "vue";
import type { OrderedStatusElement } from "../interfaces/status";
import { useStore } from "@/store";

const placeHolder: OrderedStatusElement = {
  status_id: "loading",
  status_name: "loading",
  color: "#fff",
  module: "",
  is_default: 0,
  modified_date: "",
  order: 0,
};

const store = useStore();

const selectedProjectStatus: Ref<OrderedStatusElement> = ref(placeHolder);

function handleProjectStatusChange(newProjectStatus: string) {
  const selected = store.state.projectStatuses[newProjectStatus];
  if (!selected) {
    console.log("Something wrong with selected element " + selected);
    return;
  }
  selectedProjectStatus.value = selected;
}
</script>

<template>
  <div class="custom-select">
    <h1>State selection component</h1>
    <p>
      Selection component allows to show styled status and allows to select new
      status from the list of given values.
    </p>
    <p>
      On this demonstation page selecting new status in any of the three
      selections changes value of all components.
    </p>
    <p>
      First component shows short form of the component, second default style
      and third reversed style.
    </p>
    <div class="statuses">
      <StatusSelect
        :selectedId="selectedProjectStatus.status_id"
        :options="store.state.projectStatuses"
        :tabIndex="1"
        :style="'short'"
        @input="handleProjectStatusChange"
      />
      <StatusSelect
        :selectedId="selectedProjectStatus.status_id"
        :options="store.state.projectStatuses"
        :tabIndex="2"
        @input="handleProjectStatusChange"
      />
      <StatusSelect
        :selectedId="selectedProjectStatus.status_id"
        :options="store.state.projectStatuses"
        :tabIndex="3"
        :style="'reversed'"
        @input="handleProjectStatusChange"
      />
    </div>
    <h3>Example of how to use the component</h3>
    <pre>
    <code>
      {{`
      <StatusSelect
        :selectedId="selectedProjectStatus.status_id"
        :options="store.state.projectStatuses"
        :tabIndex="3"
        :style="'reversed'"
        @input="handleProjectStatusChange"
      />
      `}}
    </code>
    </pre>
  </div>
</template>
<style scoped>
.statuses {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
</style>
