<script setup lang="ts">
import { useStore } from "@/store";
import { computed, onMounted } from "vue";
import StatusSelect from "@/components/StatusSelect.vue";

const store = useStore();
const tasks = computed(() => store.state.tasksData);
const taskStatuses = computed(() => store.state.tasksStatuses);

onMounted(() => {
  if (!store.state.tasksData.length) {
    store.dispatch("fetchTasks", "projects");
  }
});

function handleStatusChange(taskId: string, newStatusId: string) {
  console.log(`Task ${taskId} status changed to ${newStatusId}`);
  alert(`Task ${taskId} status changed to ${newStatusId}`);
}
</script>
<template>
  <div>
    <h1>Task (or are they events?) statuses overview</h1>
    <div class="status-table">
      <div class="status-table__row" v-for="(task, i) of tasks" :key="i">
        <div class="status-table__row__col1">{{ task.event_name }}</div>
        <div class="status-table__row__col2 fixed-width">
          <StatusSelect
            :selectedId="task.status"
            :options="taskStatuses"
            :tabIndex="0"
            :style="'reversed'"
            @input="
              (newStatus) => {
                handleStatusChange(task.event_id, newStatus);
              }
            "
          />
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>
.fixed-width {
  width: 200px;
}
</style>
