<script setup lang="ts">
import { useStore } from "@/store";
import { ref, watch } from "vue";
import Draggable from "vue3-draggable";
import type { OrderedStatusElement } from "@/interfaces/status";
import { useRouter } from "vue-router";

const store = useStore();
const router = useRouter();

const statuses = ref(
  store.getters.sortedProjectStates.map((elem: OrderedStatusElement) => ({
    ...elem,
  }))
);

const changes = ref(false);

watch(
  () => [...statuses.value],
  () => {
    changes.value = true;
    return;
  }
);

function applyNewOrder() {
  const ordersData = statuses.value.map(
    (status: OrderedStatusElement, i: number) => {
      return { status_id: status.status_id, order: i };
    }
  );
  console.log("New order:");
  console.log(ordersData);
  store.dispatch("reorderProjects", ordersData);
  router.push({ path: "/" });
}
</script>
<template>
  <div>
    <h1>Project statuses. Drag and drop for sorting</h1>
    <Draggable v-model="statuses" class="status-table">
      <template v-slot:item="{ item }">
        <div class="status-table__row">
          <div
            class="status-table__row__col2 fixed-width draggable-element"
            :style="{
              'border-left-color': item.color,
            }"
          >
            {{ item.status_name }}
          </div>
        </div>
      </template>
    </Draggable>
    <div class="footer">
      <button @click="applyNewOrder" class="apply-button" :disabled="!changes">
        Apply new order
      </button>
    </div>
  </div>
</template>

<style scoped>
.fixed-width {
  width: 200px;
}
.draggable-element {
  border-left-style: solid;
  border-left-width: 10px;
  padding-left: 10px;
}

.footer {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 2rem;
}
</style>
