<script setup lang="ts">
import { useStore } from "@/store";
import { onMounted, computed } from "vue";
import StatusSelect from "@/components/StatusSelect.vue";

const store = useStore();
const projects = computed(() => store.state.projectData);
const projectsStatuses = computed(() => store.state.projectStatuses);

onMounted(async () => {
  if (!store.state.projectData.length) {
    store.dispatch("fetchProjects");
  }
});

function handleStatusChange(projectId: string, newStatusId: string) {
  const project = projects.value.find(
    (project) => project.project_id === projectId
  );
  if (project) {
    project.status = newStatusId;
  }
  store.dispatch("updateProject", project);
}
</script>
<template>
  <div>
    <h1>Projects statuses overview</h1>
    <div class="status-table">
      <div class="status-table__row" v-for="(project, i) of projects" :key="i">
        <div class="status-table__row__col1">{{ project.project_name }}</div>
        <div class="status-table__row__col2">
          <StatusSelect
            :selectedId="project.status"
            :options="projectsStatuses"
            :tabIndex="0"
            @input="
              (newStatus) => {
                handleStatusChange(project.project_id, newStatus);
              }
            "
          />
        </div>
      </div>
    </div>
  </div>
</template>

<style></style>
