<script setup lang="ts">
import { ref, computed } from "vue";
import type { Ref } from "vue";
import type { OrderedStatusElement, Statuses } from "../interfaces/status";

interface Props {
  selectedId: string;
  options: Statuses;
  tabIndex: number;
  style?: "default" | "reversed" | "short";
}

const props = defineProps<Props>();
const sortedStatuses = computed(() => {
  const result = Object.keys(props.options).map((key) => props.options[key]);
  result.sort((a, b) => a.order - b.order);
  return result;
});

const placeHolder: OrderedStatusElement = {
  status_id: "loading",
  status_name: "",
  color: "rgba(60, 60, 60, 0.29)",
  module: "",
  is_default: 0,
  modified_date: "",
  order: 0,
};

const open: Ref<boolean> = ref(false);
const currentOption = computed(() => {
  const currentOption = props.options[props.selectedId];
  if (!currentOption) {
    //TODO: select default option?
    return placeHolder;
  }
  return currentOption;
});
</script>
<template>
  <div
    class="status-select"
    :class="{ 'selected--reversed': props.style == 'reversed' }"
    :tabindex="props.tabIndex"
    @blur="open = false"
  >
    <div
      class="selected"
      @click="open = !open"
      :style="{
        'background-color':
          props.style == 'reversed' ? '#ffffff' : currentOption.color,
        'border-color': currentOption.color,
      }"
    >
      {{
        props.style == "short"
          ? currentOption.status_name[0] || "..."
          : currentOption.status_name || "select status"
      }}
    </div>
    <div class="items" :class="{ 'select-hide': !open }">
      <div
        class="items__item"
        :class="{
          'items__item-selected': option.status_id == props.selectedId,
        }"
        v-for="(option, i) of sortedStatuses"
        :key="i"
        @click="
          open = false;
          $emit('input', option.status_id);
        "
      >
        <div
          class="item__item-bullet"
          :style="{ 'background-color': option.color }"
        ></div>
        <div class="item__item-name">
          {{ option.status_name }}
        </div>
      </div>
    </div>
  </div>
</template>
<style scoped>
.status-select {
  position: relative;
  width: 100%;
  text-align: left;
  outline: none;
  height: 2rem;
  line-height: 2rem;
  width: fit-content;
}

.status-select .selected {
  border-radius: 4px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: fit-content;
  color: #ffffff;
  cursor: pointer;
  border-style: none;
}

.status-select.selected--reversed .selected {
  color: #1f2226;
  border-width: 1px;
  border-style: solid;
  background-color: #ffffff;
}

.status-select .items {
  padding: 1rem 0rem 0.5rem 0rem;
  background: #ffffff;
  box-shadow: 0px 2px 6px rgba(31, 34, 38, 0.08),
    0px 8px 32px rgba(31, 34, 38, 0.12);
  border-radius: 4px;
  z-index: 1000;
}

.status-select .items__item {
  max-height: 2rem;
  display: flex;
  padding-left: 1rem;
  padding-right: 1rem;
  font-weight: 400;
  cursor: pointer;
}

.status-select .select-hide {
  height: 0px;
  padding: 0px;
  overflow: hidden;
}

.status-select .items__item-selected {
  font-weight: 600;
  color: #043159;
  background-color: #ebf5fa;
  border-left-color: #0085e0;
  border-left-style: solid;
}
.status-select .item__item-name {
  color: #1f2226;
}
.status-select .items__item-selected .item__item-name {
  font-weight: 600;
  color: #043159;
}

.status-select .items__item:hover {
  background: #f7f9fd;
}

.status-select .item__item-bullet {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
}
</style>
