@import "./base.css";

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

.status-table {
  background: #ffffff;
  box-shadow: 0px 2px 6px rgba(31, 34, 38, 0.08),
    0px 8px 32px rgba(31, 34, 38, 0.12);
  border-radius: 4px;
  padding: 1rem;
}

.status-table__row {
  display: flex;
  padding-bottom: 0.2rem;
  padding-top: 0.2rem;
  align-items: center;
  color: var(--color-table-text);
}

.status-table__row:hover {
  background: var(--color-table-active);
}

.status-table__row__col1 {
  flex-grow: 1;
}

.apply-button {
  background-color: var(--color-background-soft);
  color: var(--color-text);
  font-size: 1rem;
  padding: 0.5rem;
  border-color: var(--color-border);
  border-radius: 4px;
}

.apply-button:hover{
  background-color: var(--color-background);
  opacity: 0.6;
}
.apply-button:active{
  opacity: 1;
}
.apply-button:disabled{
  opacity: 0.4;
}


@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 0 2rem;
  }
}
