<script setup lang="ts">
import { RouterLink, RouterView } from "vue-router";
import { useStore } from "@/store";
import { onMounted } from "vue";

const store = useStore();

onMounted(async () => {
  //Load projects, tasks statuses only when they are not loaded yet
  if (!Object.keys(store.state.projectStatuses).length) {
    store.dispatch("fetchProjectStatuses", "projects");
  }

  if (!Object.keys(store.state.tasksStatuses).length) {
    store.dispatch("fetchTasksStatuses");
  }
});
</script>

<template>
  <header>
    <div class="wrapper">
      <nav>
        <RouterLink to="/">Select Component</RouterLink>
        <RouterLink to="/events">Events</RouterLink>
        <RouterLink to="/projects">Projects</RouterLink>
        <RouterLink to="/projects-statuses"
          >Project Statuses Sorting</RouterLink
        >
        <RouterLink to="/about">About</RouterLink>
      </nav>
    </div>
  </header>

  <RouterView />
</template>

<style scoped>
header {
  line-height: 1.5;
  max-height: 100vh;
}

nav {
  width: 100%;
  font-size: 14px;
  text-align: center;
  margin-top: 2rem;
}

nav a.router-link-exact-active {
  color: var(--color-text);
}

nav a.router-link-exact-active:hover {
  background-color: transparent;
}

nav a {
  padding: 0 1rem;
  display: block;
  border-bottom: 1px solid var(--color-border);
}

@media (min-width: 1024px) {
  header {
    display: flex;
    place-items: center;
    padding-right: calc(var(--section-gap) / 2);
  }

  nav {
    text-align: left;
    margin-left: -1rem;
    font-size: 1rem;

    padding: 1rem 0;
    margin-top: 1rem;
  }
}
</style>
